/* Importaciones */
@import url(./fonts.css);

/* Variables globales */
:root {
  --primary-font: "Caveat", cursive;
  --secondary-font: "Roboto", sans-serif;

  --body-background-color: white;
  --primary-color: black;
  --secondary-color: rgb(142, 142, 142);
  --border-color: black;

  --heading-font-size: 2.5rem;
  --paragraph-font-size: 1.25rem;

  --top-bottom-padding: 1rem;
  --left-right-padding: 2rem;

  --element-gap: 1rem;
  --section-padding: 2rem;
}

/* Estilos globales */
body {
  padding: 2rem;
  background-color: var(--body-background-color);
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

.border {
  border: 2px solid var(--border-color); /* Aplica bordes completos por defecto */
  border-top: none; /* Elimina el borde superior para evitar duplicados */
}

header.border {
  border-top: 2px solid var(--border-color);
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  padding: var(--top-bottom-padding) var(--left-right-padding);
}

header .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 4rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--paragraph-font-size);
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
  font-size: var(--paragraph-font-size);
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.menu a:focus {
  outline: 2px dashed var(--primary-color);
  outline-offset: 4px;
}

/* Tipografía */
h1,
h2 {
  font-family: var(--primary-font);
  font-size: var(--heading-font-size);
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;
  padding: var(--section-padding);
  gap: var(--element-gap);
}

.hero h1 {
  font-size: 5rem;
  font-weight: 300;
}

.hero p {
  color: var(--secondary-color);
  font-size: var(--paragraph-font-size);
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container {
  display: flex; /* Habilita Flexbox */
  justify-content: space-between; /* Espacio uniforme entre secciones */
  align-items: stretch; /* Asegura que todas las secciones tengan la misma altura */
}

.main-container > section {
  flex: 1; /* Asegura que todas las secciones ocupen el mismo ancho */
}

/* Ajuste específico para la sección #projects */
.main-container #projects {
  flex: 0.5; /* Ocupa menos espacio en comparación con las demás */
}

/* Secciones */

section#projects h2 {
  padding: 0.5rem var(--section-padding) 0 var(--section-padding);
}

section#projects ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section#projects li {
  padding: 0.5rem calc(var(--section-padding) + 0.5rem);
  border-top: 2px solid var(--border-color);
}

section#projects li:first-of-type {
  padding: 0.5rem calc(var(--section-padding) + 0.5rem);
  border-top: none;
}

section#projects a {
  text-decoration: none;
  color: var(--primary-color);
}

section#projects a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

section#work-experience {
  border-left: none;
  border-right: none;
  padding: 0;
}

.we-1 {
  border-bottom: 2px solid var(--border-color);
  padding: 0.5rem var(--section-padding);
}

#work-experience h3 {
  font-family: var(--primary-font);
  font-size: 1.5rem;
}

.we-1 h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.we-1 p {
  margin: 0.5rem 0;
}

.we-1 p:last-of-type {
  margin: 0.5rem 0 0;
}

#work-experience a {
  text-decoration: none;
  color: var(--primary-color);
}

#work-experience a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.we-2 {
  padding: 0.5rem var(--section-padding);
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: var(--section-padding);
  }

  .hero h1 {
    font-size: 3rem;
  }

  .menu ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}
